PORT=7000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/mockround
SENDGRID_API_KEY=SG.your_sendgrid_key_here
JWT_SECRET=your_jwt_secret_here
EMAIL_SUBJECT_PREFIX=MockRound.AI - 
FRONTEND_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI=http://localhost:7000/api/user/auth/google/callback
PRIMARY_INSTANCE=true
